<a href="https://colab.research.google.com/github/Shreeharinadig/intro-to-github/blob/main/Copy_of_PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
flying_cost=5000
n=29
ticket_cost=200
profit=(n*ticket_cost)-flying_cost
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= 12

#complete this area
if(num%2==0):
  print("its divisible by 2")
if(num%3==0):
  print("its divisible by 3")
if(num%2==0 and num%3==0):
  print("its divisible by both 2 and 3")

its divisible by 2
its divisible by 3
its divisible by both 2 and 3

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
s='ANTIESTABLISHMENTARIANISTICALLY'
v=['A','E','I','O','U']
count=0
for i in s:
  if(i in v):
    count=count+1

print("the no. of vowels is equal to", count)

the no. of vowels is equal to 12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
f=['banana','mango','watermelon']


#iterate over the list and find the name of the fruit which has the smallest word length

small=f[0]
for i in range(1,len(f)):
  if(len(f[i])<len(small)):
    small=f[i]
print(small)

# append a vegetable to your existing list
f.append('radish')

# find the size of your list

size=len(f)
# add enough fruits such that your list size if greater that 4
f.extend(['berry','apple','orange','pineapple','musk melon'])
print(f)
# delete the 2nd fruit(1st index) from your list:
f.remove(f[2])
print(f)
# add your name in the 4th position of the list (3rd index)
f.insert(3,'Hari')
print(f)
#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation

mango
['banana', 'mango', 'watermelon', 'radish', 'berry', 'apple', 'orange', 'pineapple', 'musk melon']
['banana', 'mango', 'radish', 'berry', 'apple', 'orange', 'pineapple', 'musk melon']
['banana', 'mango', 'radish', 'Hari', 'berry', 'apple', 'orange', 'pineapple', 'musk melon']

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 
abd=('ho','hi','hello')
for i in abd:
  print(i)
#print the type of each value in the tuple
for i in abd:
  print(type(i))
#try to change the seconf value in your tuple to "Caterpillar"

# print the last element of the tuple without using the length of the tuple
count=0
for i in abd:
  count=count+1
print(abd[count-1])
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...

#sort vs sorted function: find the difference in the form of a program:

ho
hi
hello
<class 'str'>
<class 'str'>
<class 'str'>
hello

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
library = ["ootd", "lol", "ffs", "asap"]
str= " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
a=str.split()
b=set(a)
library.extend(b)
print(library)

['ootd', 'lol', 'ffs', 'asap', 'fun', 'ootd', 'bob', 'asap', 'candid', 'happyhours', 'sweet16', 'lol', 'anime', 'macha', 'rofl', 'ffs']

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}

    #------fill your code here-----------------
    s=set(my_list)
    for i in s:
      count=0
      for j in my_list:
        if(i==j):
          count=count+1
      freq[i]=count 
    print(freq)
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

{1: 5, 2: 4, 3: 3, 4: 3, 5: 2}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !